<nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <div class="container">
        <a class="navbar-brand" routerLink="/home">Community Social</a>
   
  
        <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/members">Matches </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/lists">Lists</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/messages">Messages</a>
            </li>
        </ul>

        <div ngbDropdown class="dropdown" *ngIf="loggedIn(); else loggedInForm" >
            <span class="mr-2">
                <img [src]="photoUrl || '../../assets/user.png'" alt="">
            </span>
            <a ngbDropdownToggle class="dropdown-toggle text-light" >
                Welcome {{ auth.decodedToken?.unique_name | titlecase }}
            </a>
            
            <div ngbDropdownMenu class=" mt-3" >
                <a ngbDropdownItem class="dropdown-item" [routerLink]="['/member/edit']"><i class="fa fa-user"></i> Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a ngbDropdownItem class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
            </div>
        </div>

        <ng-template #loggedInForm>
            <form #loginform="ngForm" (ngSubmit)="login()" class="form-inline my-2 my-lg-0" >
                <input class="form-control mr-sm-2" required type="text" name="username" placeholder="Username" [(ngModel)]="model.username">
                <input class="form-control mr-sm-2" required type="password" name="password" placeholder="Password" [(ngModel)]="model.password">
        
                <button [disabled]="!loginform.valid" class="btn btn-success my-2 my-sm-0">Login</button>
            </form>
        </ng-template>
    </div>

  </nav>