<div class="container mt-5">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-6" *ngFor="let user of users">
           <app-member-card [user]="user"></app-member-card>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <ngb-pagination 
    (pageChange)="pageChanged($event)"
    [collectionSize]="pagination.totalItems" 
    [(page)]="pagination.currentPage" 
    [pageSize]="pagination.itemsPerPage" 
    aria-label="Default pagination" 
    [boundaryLinks]="true">

    </ngb-pagination>
</div>

