<div class="text-center mt-3">
    <h4>Your matches - {{pagination.totalItems}} found</h4>
</div>

<div class="container mt-5">
    <form class="form-inline" #form="ngForm" (ngSubmit)="loadUsers()" novalidate>
        <div class="form-group">
          <label for="minAge">Age From</label>
          <input type="number" class="form-control ml-1" style="width: 70px" id="minAge" [(ngModel)]="userParams.minAge" name="minAge">
        </div>
      
        <div class="form-group px-2">
            <label for="maxAge">Age To</label>
            <input type="number" class="form-control ml-1" style="width: 70px" id="maxAge" [(ngModel)]="userParams.maxAge" name="maxAge">
        </div>

        <div class="form-group px-2">
            <label for="gender">Show: </label>
            <select class="form-control ml-1" style="width: 130px;" name="gender" [(ngModel)]="userParams.gender" id="gender"> 
                <option *ngFor="let gender of genderList" [value]="gender.value">
                    {{ gender.display }}
                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Apply Filters</button>
        <button type="button" class="btn btn-info" style="margin-left: 10px;" (click)="resetFilters()">Reset Filters</button>

        <div class="col">
            <div class="btn-group btn-group-toggle float-right" ngbRadioGroup name="radioBasic" [(ngModel)]="userParams.orderBy">
                <label ngbButtonLabel class="btn-secondary">
                  <input ngbButton type="radio" value="lastActive" (click)="loadUsers()"> Last Active
                </label>
                
                <label ngbButtonLabel class="btn-secondary">
                  <input ngbButton type="radio" value="created" (click)="loadUsers()"> Newest Members
                </label>
            </div>
        </div>


    </form>
    <br>

    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-6" *ngFor="let user of users">
           <app-member-card [user]="user"></app-member-card>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <ngb-pagination 
    (pageChange)="pageChanged($event)"
    [collectionSize]="pagination.totalItems" 
    [(page)]="pagination.currentPage" 
    [pageSize]="pagination.itemsPerPage" 
    aria-label="Default pagination" 
    [boundaryLinks]="true">

    </ngb-pagination>
</div>

