<form #registerForm (ngSubmit)="register()">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" required name="username" #username="ngModel"  [(ngModel)]="model.username">
    </div>
 
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" required name="password" #password="ngModel"  [(ngModel)]="model.password">
    </div>

    <div class="from-group text-center">
        <button class="btn btn-success mr-2" type="submit">Register</button>
        <button class="btn btn-light" type="button" (click)="cancel()">Cancel</button>

    </div>
   
    
</form>